body{
    background-color: beige;
    
}

h1{
    text-transform: capitalize;
   font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;

 text-decoration: underline;
   text-align: center;
}
h2{
    text-transform: capitalize;
    text-align: center;
    font-family: Georgia, 'Times New Roman', 
    Times, serif;
    text-decoration: underline;
font-style: italic;
}

p{
font-family: 'Times New Roman', Times, serif;
text-transform: none;
text-rendering: geometricPrecision;
font-size: 1;
}
img{
    width: 200px;
}
